---
/**
 * * About section
 */

import profileImage from "@assets/images/profile.webp";
import { Image } from "astro:assets";
---

<section id="about" class="site-container scroll-mt-10 py-8 md:py-12">
	<div class="flex flex-col md:flex-row">
		<div class="md:w-2/3">
			<h2 class="h3 text-primary-500 text-pretty uppercase">Meet the cardmaker</h2>
			<h3 class="h2 mt-4">Kirstin Kleyn</h3>
			<div class="bg-base-100 mt-8 p-8 md:mb-20 lg:text-lg">
				<p>
					Kirstin Kleyn is a multitalented creator from Cape Town South Africa. After graduating
					from Stellenbosch University with a BMus, she developed her hobbies of cardmaking and
					scrapbooking.
				</p>
				<!-- <div class="flex w-3/4 justify-end"> -->
				<!-- 	<p class="font-heading-1 text-3xl italic">- Jenna</p> -->
				<!-- </div> -->
			</div>
		</div>
		<div class="mr-auto max-w-md md:w-1/3 md:max-w-none">
			<div class="my-auto aspect-[3/4] w-full overflow-hidden">
				<Image
					src={profileImage}
					alt="Jenna Marie"
					width={450}
					densities={[1.5, 2]}
					class="h-auto min-h-full w-full min-w-full object-cover"
				/>
			</div>
		</div>
	</div>
</section>
